<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Upload File</title>
</head>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
<div>
<div>
<form action="/upload" method="post" enctype="multipart/form-data" acceptcharset="UTF-8">
<table style="border-spacing:10px;">
<tr>
<td><input type="file" name="file"/><br/></td>
</tr>
<tr>
<td><input type="submit" name="upload"/></td>
</tr>
</table>
</form>
</div>
<div th:if="${message}" style="padding-left:10px;padding-top:10px;padding-bottom:10px;">
<p th:text="${message}"/>
</div>
<div th:if="${signal}" style="padding-left:10px;">
<p><a href="/read">display</a></p>
</div>
<div style="height:auto;">
<p th:text="${content}"/>
</div>
</div>
</body>
</html>